POSTGRES_DB=cardgame_db
POSTGRES_USER=cardgame_user
POSTGRES_PASSWORD=replace-with-a-long-random-password
BUILD_JOBS=2
# 无法访问 GitHub 时，将下面两个地址改为对应仓库的可访问镜像。
DROGON_REPOSITORY=https://github.com/drogonframework/drogon.git
TRANTOR_REPOSITORY=https://github.com/an-tao/trantor.git
CARD_GAME_THREADS=2
HTTP_PORT=80
